/SkyDefense/cocos2d
/SkyDefense/proj.win10
/SkyDefense/proj.win32
/SkyDefense/proj.android
/SkyDefense/proj.android-studio
/SkyDefense/proj.ios_mac
/SkyDefense/proj.linux
/SkyDefense/proj.tizen
/SkyDefense/proj.visualstudio
/SkyDefense/proj.win8.1-universal
/SkyDefense/bin
/SkyDefense/linux-build
